<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numero Seguro</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Codigo Postal</th>
                <th scope="col">Telefono</th>
                <th scope="col">Edad</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Doctor</th> -->
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pacientesLsit;">                
                <td>{{item.PacienteSegSocial}}</td>
                <td>{{item.PacienteNombres}}</td>
                <td>{{item.PacienteApellidos}}</td>
                <td>{{item.PacienteCodPostal}}</td>
                <td>{{item.PacienteTel}}</td>
                <td>{{item.PacienteEdad}}</td>
                <td>{{item.PacienteEmail}}</td>
                <!-- <td>
                    <button 
                        type="button" class="btn btn-light-mr-1" 
                        (click)="editPaciente(item.PacienteID)"                       
                        ><i class="fa fa-pencil"></i></button>
                    <button 
                        type="button" class="btn btn-light-mr-1"><i class="fa fa-trash"></i>
                    </button>                    
                </td> -->
            </tr>            
        </tbody>
    </table>
    
</div>